@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=League+Spartan:wght@100..900&family=Limelight&family=Magra:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../img/background1.png);
    background-size: cover;
}

.logo {
    width: 450px;
    margin-top: 20px;
    margin-left: 20px;
}
